[project]
	description = NSU special course: OOP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tatiana Glushko (Calat43)
[access "refs/for/refs/*"]
	read = group user/Tatiana Glushko (Calat43)
	push = group user/Tatiana Glushko (Calat43)
	label-Code-Review = -2..+2 group user/Tatiana Glushko (Calat43)
	label-Verified = -1..+1 group user/Tatiana Glushko (Calat43)
	rebase = group user/Tatiana Glushko (Calat43)
	removeReviewer = group user/Tatiana Glushko (Calat43)
	submit = group user/Tatiana Glushko (Calat43)
[access "refs/heads/*"]
	read = group user/Tatiana Glushko (Calat43)
	create = group user/Tatiana Glushko (Calat43)
	push = +force group user/Tatiana Glushko (Calat43)
	pushMerge = group user/Tatiana Glushko (Calat43)
[access "refs/tags/*"]
	push = group user/Tatiana Glushko (Calat43)
	push = +force group user/Tatiana Glushko (Calat43)
